*{
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(244, 244, 244);
    color: white;
}

header{
    position: fixed;
    width: 100%;
    color: black;
    padding-top: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.main-navcon, .main-navcon .nav-items {
    display: flex;
}

.main-navcon .nav-items li {
    display: flex;
    padding-right: 20px;
}

.main-navcon .nav-items li a{
    list-style: none;
    color: white;
    
}

.menu{
    margin-top: 15px;
    padding-left: 20PX;
    width: 40px;
    height: 40px;
}

.menu .line{
    background-color:  rgb(0, 0, 0);
    height: 0.5px;
    width: 20px;
    margin-bottom: 6px;

}

.logo{
    padding-top: 7px;
    padding-left: 10px;
    width: 100px;
    height: 40px;
    display: flex;
    font-size: 12px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.search{
    display: flex;
}

.search form{
    display: flex;  
    border: solid 1px rgb(54, 54, 54); 
    height: 42px;
}
.search-con input{
    width: 500px;
    height: 41.5px;
    border: none;
    background-color: rgb(255, 255, 255);
}

.search-vbtn button{
    height: 40px;
    width: 40px;border-radius: 50px;
    margin-left: 10px;
    border: none;
    background-color: rgb(185, 185, 185);
}

.search-mbtn button{
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border: none;
    background-color: rgb(255, 255, 255);
}

.search-mbtn2 button{
    display: none;
}
.search-mbtn{
    height: 40px;
    margin-left: 10px;
    background-color: rgb(255, 255, 255);
}

.search-vbtn button{
    color: aliceblue;
}


:root {
    --accent-color: rgb(204, 0, 0);
    --lightest-gray: rgb(244, 244, 244);
    --light-gray: rgb(32, 32, 32);
    --medium-gray: rgb(96, 96, 96);
    --dark-gray: rgb(13, 13, 13);
    --header-height: 40px;
    --animation-duration: 200ms;
    --animation-timing-curve: ease-in-out;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .menu-icon-btn {
    background: none;
    border: none;
    padding: 0;
  }
  
  .menu-icon {
    width: 25px;
    height: 25px;
    fill: var(--medium-gray);
    cursor: pointer;
  }
  
  .menu-icon:hover {
    fill: var(--dark-gray);
  }
  
  .sidebar {
    border-radius: 0px 0px 20px 0px;
    background-color: white;
    flex-shrink: 0; 
    overflow: hidden;
    width: 0px;
    display: flex;
    flex-direction: column;
    height: calc(98vh - var(--header-height));
    align-items: center;
    justify-content: stretch;
    transition: width var(--animation-duration) var(--animation-timing-curve);
    position: fixed;
    left: 0;
    top: 60px;
  }
  
  .sidebar .hidden-sidebar {
    opacity: 0;
    width: 0;
    transition: opacity var(--animation-duration) var(--animation-timing-curve);
  }
  
  .sidebar.open .hidden-sidebar {
    width: 100%;
    height: auto;
    opacity: 1;
  }
  
  .sidebar .top-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sidebar.open .channel-logo {
    width: 90px;
    height: 90px;
  }
  
  .sidebar .channel-logo > img {
    width: 100%;
    height: 100%;
  }
  
  .middle-sidebar {
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
    margin: 2rem;
  }
  
  .middle-sidebar,
  .bottom-sidebar {
    width: 100%;
  }
  .container {
    display: flex;
  }
  
  .sidebar-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
  }
  
  .sidebar.open .sidebar-link {
    justify-content: flex-start;
  }
  
  .sidebar-icon {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
  }
  
  .sidebar-list .hidden-sidebar {
    margin-left: 1.5rem;
    white-space: nowrap;
  }
  
  .sidebar-link {
    display: flex;
    width: 100%;
    padding: .5rem 0;
    color: var(--light-gray);
    text-decoration: none;
    align-items: center;
    padding-left: 25px;
  }
  
  .sidebar-list-item {
    border-radius: 5px;
    position: relative;
    width: 100%;
    fill: var(--light-gray);
  }
  
  .sidebar-list-item.active {
    fill: var(--accent-color);
    background-color: var(--lightest-gray);
    box-shadow: inset 2px 3px 4px rgb(190, 190, 190);
  }
  
  .sidebar-list-item:hover {
    background-color: var(--lightest-gray);
    box-shadow: 0px 3px 5px 0px rgb(190, 190, 190);
  }
  
  .sidebar-list-item.active::before {
    content: "";
    background-color: var(--accent-color);
    height: 100%;
    left: 0;
    width: 3px;
    position: absolute;
  }
  
  .sidebar.open {
    border-radius: 0px 10px 20px 0px;
    width: 200px;
  }
  
  .your-channel {
    color: var(--dark-gray);
    font-size: .75rem;
    font-weight: bold;
    margin-bottom: .15rem;
    margin-top: .5rem;
  }
  
  .channel-name {
    color: var(--medium-gray);
    font-size: .75rem;
  }
  
  .sidebar .top-sidebar {
    height: 30px;
    transition: height var(--animation-duration) var(--animation-timing-curve);
  }
  
  .sidebar.open .top-sidebar {
    height: 125px;
  }
  
  .sidebar .top-sidebar .hidden-sidebar {
    text-align: center;
    width: 100%;
    display: flex;
  }


  .vidpage-section{
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    padding-top: 80px;
  }

  @media screen and (max-width: 1000px){

    .search-con input{
        width: 250px;
    }
    .search form{
        width: 300px;
    }

    @media screen and (max-width: 700px){
        .search-con input{
            width: 50px;
            display: none;
        }
        .search form{
            display: none;
            width: 100px;
        }
        .search-mbtn2 button{
            display: inline;
            height: 40px;
            width: 60px;border-radius: 20px;
            margin-left: 10px;
            border: none;
            font-size: 20px;
            color: aliceblue;
            font-weight: bolder;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            background-color: rgb(185, 185, 185);
        }
    }
}


.userac{
  display: none;
}

.userac.nameopen{
  display: block;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: bolder;
  margin-top: 4px;
  margin-left: 10px;
  color: rgb(255, 255, 255);
}


  .account-item {
    display: flex;
    transition: 1s;
    padding: 1px;
    border-radius: 50px;
    height: 40px;
    box-shadow: 0px 0px 3px 3px rgb(223, 223, 223);
    cursor: pointer;
  }

  .acItem {
    width: 40px; 
    height: 40px; 
    border-radius: 50px; 
    border: 1px white;
    transition: 1s;
  }

  .acItem.rolled{
    transform: rotate(-360deg);
    transition: 1s;
  }

  .account-item.expanded{
    transition: 1s;
    background-color: var(--light-gray); 
    border-radius: 50px; 
    width: 250px;
  }

  /* side dropDown*/

  .side-dropdown {
    display: none;
    transition: 1s;
  }

  .side-dropdown.down {
    transition: 1s;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    width: 250px;
    height: 280px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 5px rgb(230, 230, 230);
  }

  .side-dropdown ul, .side-dropdown li, .side-dropdown a  {
    list-style-type: none;
    text-decoration: none;
    color: black;
  }

  .side-dropdown ul {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    cursor: pointer;
  }

  .side-dropdown li {
    background-color: rgb(255, 255, 255);
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 10px;
    margin-bottom: 30px;
    height: 30px;
    box-shadow: 0px 0px 5px 5px rgb(230, 230, 230);
  }

  .side-dropdown li:hover {
    transition: 1s;
    box-shadow: 0px 0px 5px 5px rgb(250, 168, 168);
  }

  .side-dropdown button{
    cursor: pointer;
    width: 95%;
    height: 20px;
    border: none;
    text-align: left;
    background-color: white;
    font-size: 14px;
  }




/*********** Video player *************/


.vid-components {
  width: 70%;
  background-color: blac 
}

.main-content{
  padding-left: 5%;
}
.vid{
  width: 95%;
}

.the-player{
  width: 100%;
  border-radius: 20px;
  box-shadow: 1px 4px 8px 2px rgb(170, 170, 170);
  margin-bottom: 30px;
}

.vid-description{
  color: black;
  width: 100%;
  height: 100px;
  border-radius: 20px;
  box-shadow: 1px 4px 8px 2px rgb(170, 170, 170);
  margin-bottom: 30px;
}


.vid-channel-uploader{
  color: black;
  width: 95%;
  height: 100px;
  border-radius: 20px;
  box-shadow: 1px 4px 8px 2px rgb(170, 170, 170);
  margin-bottom: 30px;
}

.vid-lable{
  padding-left: 10px;
  padding-top: 10px;
}

.vid-views-likes{
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
}

.vid-num-views{
  display: flex;
  padding-left: 10px;
  width: 50%;
}

.vid-num-views p{
  margin-right: 5px;
}

.vid-num-eating{
  display: flex;
  justify-content: right;
  width: 50%;
}

.vid-num-eating li{
  list-style: none;
  margin-right: 5px;
}

.vid-num-eating button{
  margin-right: 5px;
  display: flex;
  border: none;
  font-size: 16px;
}

.channel-thumbs{
  width: 100%;
  display: flex;
  padding-top: 10px;
  padding-left: 10px;
}

.ch-name{
  padding-left: 5px;
}
.ch-name h2{
  font-weight:normal;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ch-name p{
  font-size: 14px;
  color: rgb(99, 99, 99);
  font-weight: bold;
}
.ch-img{
  display: flex;
  justify-content: center;
  height: 50px;
  height: 50px;
}
.ch-img, .ch-name, .vid-num-eating button:hover {
  cursor: pointer;
}
.ch-img img{
  width: 100%;
  border-radius: 50px ;
}
.channel-info{
  display: flex;
}


.sub-butt{
  width: 50%;
  display: flex;
  justify-content: right;
}
.sub-btn{
  padding-right: 10px;
  padding-top: 15px;
}

.sub-btn button{
  width: 100px;
  height: 40px;
  background-color: rgb(0, 153, 255);
  color:  white;
  border: none;
  border-radius: 10px;
  transition: 1s;
}

.sub-btn button:hover{
  cursor: pointer;
  transition: 1s;
  background-color: rgb(231, 56, 56);
  color:  white;
}

.btn-load-more{
  display: flex;
  justify-content: center;
}

.btn-load-more button{
  background-color: black;
  color: white;
  height: 30px;
  width: 100px;
  transition: 1s;
  border-radius: 50px;
}

.btn-load-more button:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  transition: 1s;
  cursor: pointer;
}

.aside-comments{
  color: black;
  width: 90%;
}

.comment-content{
  padding-top: 10px;
  padding-left: 10px;
  width: 98%;
  margin-bottom: 20px;
  margin-left: 6%;
}
.comment-sec-header h1{
  font-weight: 300;
}

.comment-form{
  padding-top: 20px;
  margin-bottom: 30px;
  display: flex;
  width: 100%;
  height: 50px;
}

.comment-form img{
  border-radius: 50px;
}
.comment-form img:hover{
  cursor: pointer;
}

.comment-form input{
  margin-left: 5px;
  padding-left: 10px;
  border-radius: 10px;
  border: none;
  width: 80%;
}

.comment-form .cnl{
  width: 100px;
  margin-left: 5px;
  border: none;
  color: white;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
}

.comment-form .send{
  width: 100px;
  margin-left: 5px;
  border: none;
  color: white;
  border-radius: 10px;
  background-color: rgb(231, 56, 56);
}

.cnl,.send:hover {
  cursor: pointer;
}

.comment{
  border-top: solid 1px  rgb(190, 190, 190);
  padding-left: 10px;
  padding-top: 10px;
  color: black;
}

.user-ids{
  display: flex; 
  margin-bottom: 10px;
  border-bottom: solid 1px  rgb(190, 190, 190);    
}

.user-thumv{
  width: 50px;
}

.user-thumv img{
  width: 100%;
  border-radius: 50px;
}

.user-texts{
  padding-left: 10px;
}

.comment-reactions {
  display: flex;
  margin-bottom: 10px;
}

.comment-reactions button{
  padding-top: 5px;
  display: flex;
  margin-right: 10px;
  border: none;
}

.comment-reactions button:hover{
  cursor: pointer;
}




/******************/


.aside-vids{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  border-radius: 20px;
  box-shadow: 1px 4px 8px 2px rgb(170, 170, 170);
  width: 30%;
  padding-left: 10px;
  padding-top: 10px;
}

.video-aside-con {
  width: 100%;
}

.aside-video{
  display: flex;
}

.aside-vidThumb{
  width: 50%;
}

.aside-vidThumb video{
  border-radius: 20px;
  width: 100%;
}

.aside-vidDesc{
  width: 50%;
  padding-left: 10px;
}

.aside-vidName h1{
  padding-top: 5px;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
}

.aside-vidName{
  height: 45px;
}


.aside-vid-uploader h1{
  font-weight: bold;
  font-size: 13px;
  color: rgb(124, 124, 124);
  margin-bottom: 1px;
}

.aside-vid-analitic{
  display: flex;
}

.aside-vid-analitic p{
  margin-right: 5px;
  font-size: 12px;
}


@media screen and (max-width: 1300px) {
  .vidpage-section{
    display: grid;
  }
  .vid-components{
    width: 100%;
  }
  .aside-vids{
    width: 90%;
    margin-left: 5%;
    border-radius: 20px 20px 0px 0px;
  }
  .aside-vidThumb{
    width: 300px;
  }
}